<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 수정</title>
    <link rel="stylesheet" href="{% static 'css/update2.css' %}"/>
  </head>
  <body>
    <button><a href="{% url 'posts:create' %}">아이디어 등록 🐾</a></button>
    <button><a href="{% url 'posts:list' %}">아이디어 관리 🐾</a></button>
    <button><a href="{% url 'posts:dev_create' %}">개발툴 등록 🐾</a></button>
    <button><a href="{% url 'posts:dev_list' %}">개발툴 관리 🐾</a></button>
    <h1>글 수정하기</h1>

    <form action="{% url 'posts:update' post.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>아이디어명: </p>
      <input name="title" value="{{post.title}}" />
      <br />
      <p>현재 이미지: </p>
      <input name="photo" value="{{post.photo}}"/>
      <p>수정 이미지: </p>
      <input type="file" name="photo" />
      <br />
      <p>아이디어 설명:</p>
      <textarea name="content" > {{post.content}}</textarea>
      <br />
      <p>아이디어 관심도: </p>
      <input name="interest" value="{{post.interest}}" />
      <br />
      <p>예상 개발툴: </p>
      <br />
      <input name="devtool" value="{{post.devtool}}" />

      <div>
        <input type="submit" , value="저장하기" />
      </div>
    </form>
  </body>
</html>
